# Change these to suit yourself and save as .env
DATABASE_HOST=db
DATABASE_NAME=curatur
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
HOSTNAME=localhost
SECRET_KEY_BASE=$(mix phx.gen.secret)
PORT=4000
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
REPLACE_OS_VARS=true
ERLANG_COOKIE=curatur
RELEASE_COOKIE=curatur_app
SERVICE_NAME=localhost.svc
APP_HOST=localhost
